# Modeling

This section will be used to create a model that will predict the housing prices in Ames, IA.  We will start with creating a base score using all the variables.  We will then take steps to improve the model using the R2 score.  If a model's training score is less then the testing score, we are underfit, high bias, and low variance. This means our model is not complex enough.  If the model has a higher testing score, we are overfit, therefore we have a high variance, low bias model.  This mean we are fitting to the data, and the model may not fit well to unseen data.  It is important to get the models training and testing scores as close together as possible.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, LassoCV
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
%store -r ames
%store -r features
%store -r cat

In [3]:
ames.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,68.0,13517,Pave,No Alley,IR1,Lvl,...,0,0,No Pool,No Fence,None,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,No Alley,IR1,Lvl,...,0,0,No Pool,No Fence,None,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,No Alley,Reg,Lvl,...,0,0,No Pool,No Fence,None,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,No Alley,Reg,Lvl,...,0,0,No Pool,No Fence,None,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,No Alley,IR1,Lvl,...,0,0,No Pool,No Fence,None,0,3,2010,WD,138500

In [4]:
ames.shape

(2051, 81)

## One Hot-Encoding

In [5]:
# finds the first element in each category when sorted, because these will be dropped when dummied
comp = []
for x in cat:
    comp.append(sorted(ames[x].unique())[0])

In [6]:
comp

[20,
 'A (agr)',
 'Grvl',
 'Grvl',
 'IR1',
 'Bnk',
 'AllPub',
 'Corner',
 'Gtl',
 'Blmngtn',
 'Artery',
 'Artery',
 '1Fam',
 '1.5Fin',
 'Flat',
 'ClyTile',
 'AsbShng',
 'AsbShng',
 'BrkCmn',
 'Ex',
 'Ex',
 'BrkTil',
 'Ex',
 'Ex',
 'Av',
 'ALQ',
 'ALQ',
 'GasA',
 'Ex',
 'N',
 'FuseA',
 'Ex',
 'Maj1',
 'Ex',
 '2Types',
 'Fin',
 'Ex',
 'Ex',
 'N',
 'Ex',
 'GdPrv',
 'Elev',
 'COD']

Above are features that will be dropped once one-hot encoded is used.  When making inference from the linear model's coefficient, all these variables are held constant

In [7]:
features

['Lot Frontage',
 'Lot Area',
 'Overall Qual',
 'Overall Cond',
 'Year Built',
 'Year Remod/Add',
 'Mas Vnr Area',
 'BsmtFin SF 1',
 'Bsmt Unf SF',
 'BsmtFin SF 2',
 '1st Flr SF',
 '2nd Flr SF',
 'Low Qual Fin SF',
 'Gr Liv Area',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Full Bath',
 'Half Bath',
 'Bedroom AbvGr',
 'Kitchen AbvGr',
 'TotRms AbvGrd',
 'Fireplaces',
 'Garage Cars',
 'Garage Area',
 'Wood Deck SF',
 'Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch',
 'Pool Area',
 'Misc Val',
 'Mo Sold',
 'Yr Sold',
 'Total Bsmt SF']

In [8]:
cat

['MS SubClass',
 'MS Zoning',
 'Street',
 'Alley',
 'Lot Shape',
 'Land Contour',
 'Utilities',
 'Lot Config',
 'Land Slope',
 'Neighborhood',
 'Condition 1',
 'Condition 2',
 'Bldg Type',
 'House Style',
 'Roof Style',
 'Roof Matl',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Exter Qual',
 'Exter Cond',
 'Foundation',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin Type 2',
 'Heating',
 'Heating QC',
 'Central Air',
 'Electrical',
 'Kitchen Qual',
 'Functional',
 'Fireplace Qu',
 'Garage Type',
 'Garage Finish',
 'Garage Qual',
 'Garage Cond',
 'Paved Drive',
 'Pool QC',
 'Fence',
 'Misc Feature',
 'Sale Type']

In [9]:
cate = pd.get_dummies(ames, columns = cat, drop_first = True)

In [10]:
cate

,Id,PID,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Misc Feature_Shed,Misc Feature_TenC,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
0,109,533352170,68.0,13517,6,8,1976,2005,289.0,533.0,...,0,0,0,0,0,0,0,0,0,1
1,544,531379050,43.0,11492,7,5,1996,1997,132.0,637.0,...,0,0,0,0,0,0,0,0,0,1
2,153,535304180,68.0,7922,5,7,1953,2007,0.0,731.0,...,0,0,0,0,0,0,0,0,0,1
3,318,916386060,73.0,9802,5,5,2006,2007,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,255,906425045,82.0,14235,6,8,1900,1993,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,79.0,11449,8,5,2007,2007,0.0,1011.0,...,0,0,0,0,0,0,0,0,0,1
2047,785,905377130,68.0,12342,4,5,1940,1950,0.0,262.0,...,0,0,0,0,0,0,0,0,0,1
2048,916,909253010,57.0,7558,6,6,1928,1950,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2049,639,535179160,80.0,10400,4,5,1956,1956,0.0,155.0,...,0,0,0,0,0,0,0,0,0,1
2050,10,527162130,60.0,7500,7,5,1999,1999,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
cate.shape

(2051, 279)

In [12]:
df = pd.merge(left = ames[features], right = cate, left_index = True, right_index = True )

In [13]:
ames[features].shape

(2051, 34)

In [14]:
df.shape

(2051, 313)

## Baseline Model Score

In [15]:
X = df.drop(columns ='SalePrice')
y = ames['SalePrice']

In [16]:
lr = LinearRegression()

In [17]:
cross_val_score(lr,X, y).mean() # this is the baseline Score

0.8038096976011048

We need to improve the model with scores higher then .804

### Model 1

In [18]:
X = ames[['Mas Vnr Area','Total Bsmt SF','1st Flr SF','Gr Liv Area',
         'Full Bath','TotRms AbvGrd','Fireplaces','Garage Yr Blt','Garage Cars','Garage Area','Open Porch SF','Wood Deck SF','Lot Area']]
y = ames['SalePrice']

Train Test Split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 4, test_size = .1, train_size = .9)

Scaling

In [20]:
ss = StandardScaler()

Xs_train = ss.fit_transform(X_train) # data leakage if you put test data.
Xs_test = ss.transform(X_test) # test,

Methods

fit(X[, y]) - Compute the mean and std to be used for later scaling.
fit_transform(X[, y]) - Fit to data, then transform it.
get_params([deep]) - parameters for this estimator.
inverse_transform(X[, copy])
Scale back the data to the original representation
partial_fit(X[, y])
Online computation of mean and std on X for later scaling.
set_params(**params)
Set the parameters of this estimator.
transform(X[, copy]) -Perform standardization by centering and scaling

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

Instantiate, Fit, Score Model

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train, y_train)

LinearRegression()

In [23]:
lr.score(X_train, y_train), lr.score(X_test, y_test) # this model did worst then baseline score.

(0.744137646447512, 0.4826040517475163)

Low Bias, high variance - ok for first model  r2 score without scaling

In [24]:
cross_val_score(lr, X, y) # checking the score 5 more times

array([0.71976524, 0.76441344, 0.6246985 , 0.77556205, 0.67102882])

In [25]:
lr.coef_

array([ 7.13594752e+01,  4.33727634e+01,  1.79911666e+00,  4.88400107e+01,
        1.16703312e+04, -2.80447427e+03,  1.16949173e+04, -1.10291005e+01,
        2.19457656e+04,  3.31737760e+01,  7.54069216e+01,  4.99668678e+01,
        1.61075317e-02])

### Model 2 - includes Scaling

Scaling our features is critical because it put all our features into the same "measured unit".  Sklearn turns each feature into mean and standard deviation.

In [26]:
X = ames[['Mas Vnr Area','Total Bsmt SF','1st Flr SF','Gr Liv Area',
         'Full Bath','TotRms AbvGrd','Fireplaces','Garage Yr Blt','Garage Cars','Garage Area','Open Porch SF','Wood Deck SF','Lot Area']]
y = ames['SalePrice']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 4, test_size = .1, train_size = .9)
ss = StandardScaler()

Xs_train = ss.fit_transform(X_train) # data leakage if you put test data.
Xs_test = ss.transform(X_test) # test,

Methods

fit(X[, y]) - Compute the mean and std to be used for later scaling.
fit_transform(X[, y]) - Fit to data, then transform it.
get_params([deep]) - parameters for this estimator.
inverse_transform(X[, copy])
Scale back the data to the original representation
partial_fit(X[, y])
Online computation of mean and std on X for later scaling.
set_params(**params)
Set the parameters of this estimator.
transform(X[, copy]) -Perform standardization by centering and scaling

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

Instantiate, Fit, Score Model

In [28]:
lr = LinearRegression()

In [29]:
lr.fit(Xs_train, y_train)

LinearRegression()

In [30]:
lr.score(Xs_train, y_train), lr.score(Xs_test, y_test) # this model did worst then baseline score.

(0.7441376464475121, 0.4826040517475141)

The model is currently underfit, low bias, and high variance.  At this point we want to see which features make a difference in the model.  Lasso is good for feature selection.

### Model 3 - Numeric Features

In [31]:
X = ames[features]
y = ames['SalePrice']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 4, test_size = .1, train_size = .9)
ss = StandardScaler()

Xs_train = ss.fit_transform(X_train) # data leakage if you put test data.
Xs_test = ss.transform(X_test) # test,

In [33]:
lr = LinearRegression()
lr.fit(Xs_train, y_train)

LinearRegression()

In [34]:
lr.score(Xs_train, y_train), lr.score(Xs_test, y_test)

(0.8457134063613226, 0.6009567332946075)

The model is still currently overfitting.  Linear Regression models tend to be high bias and low variance.

### Model 4 - Numeric and Categorical columns

Steps in this process:
    - add numeric and categorical columns
    - create linear regression model

In [35]:
# one-hot-encode the categorical columns
comb_ames = pd.DataFrame()
comb_ames = pd.get_dummies(data = ames, columns = cat, drop_first = True)

In [36]:
comb_ames

,Id,PID,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,...,Misc Feature_Shed,Misc Feature_TenC,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
0,109,533352170,68.0,13517,6,8,1976,2005,289.0,533.0,...,0,0,0,0,0,0,0,0,0,1
1,544,531379050,43.0,11492,7,5,1996,1997,132.0,637.0,...,0,0,0,0,0,0,0,0,0,1
2,153,535304180,68.0,7922,5,7,1953,2007,0.0,731.0,...,0,0,0,0,0,0,0,0,0,1
3,318,916386060,73.0,9802,5,5,2006,2007,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,255,906425045,82.0,14235,6,8,1900,1993,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,79.0,11449,8,5,2007,2007,0.0,1011.0,...,0,0,0,0,0,0,0,0,0,1
2047,785,905377130,68.0,12342,4,5,1940,1950,0.0,262.0,...,0,0,0,0,0,0,0,0,0,1
2048,916,909253010,57.0,7558,6,6,1928,1950,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2049,639,535179160,80.0,10400,4,5,1956,1956,0.0,155.0,...,0,0,0,0,0,0,0,0,0,1
2050,10,527162130,60.0,7500,7,5,1999,1999,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
comb_ames = pd.merge(left = comb_ames, right = ames[features], left_index = True, right_index = True)

In [38]:
ames[features]

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,Bsmt Unf SF,BsmtFin SF 2,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Total Bsmt SF
0,68.0,13517,6,8,1976,2005,289.0,533.0,192.0,0.0,...,0,44,0,0,0,0,0,3,2010,725.0
1,43.0,11492,7,5,1996,1997,132.0,637.0,276.0,0.0,...,0,74,0,0,0,0,0,4,2009,913.0
2,68.0,7922,5,7,1953,2007,0.0,731.0,326.0,0.0,...,0,52,0,0,0,0,0,1,2010,1057.0
3,73.0,9802,5,5,2006,2007,0.0,0.0,384.0,0.0,...,100,0,0,0,0,0,0,4,2010,384.0
4,82.0,14235,6,8,1900,1993,0.0,0.0,676.0,0.0,...,0,59,0,0,0,0,0,3,2010,676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,79.0,11449,8,5,2007,2007,0.0,1011.0,873.0,0.0,...,0,276,0,0,0,0,0,1,2008,1884.0
2047,68.0,12342,4,5,1940,1950,0.0,262.0,599.0,0.0,...,158,0,0,0,0,0,0,3,2009,861.0
2048,57.0,7558,6,6,1928,1950,0.0,0.0,896.0,0.0,...,0,0,0,0,0,0,0,3,2009,896.0
2049,80.0,10400,4,5,1956,1956,0.0,155.0,295.0,750.0,...,0,189,140,0,0,0,0,11,2009,1200.0
2050,60.0,7500,7,5,1999,1999,0.0,0.0,994.0,0.0,...,140,60,0,0,0,0,0,6,2010,994.0

In [39]:
34 + 279 # features = 34, one

313

In [40]:
comb_ames # need to add 'SalePrice' column

,Id,PID,Lot Frontage_x,Lot Area_x,Overall Qual_x,Overall Cond_x,Year Built_x,Year Remod/Add_x,Mas Vnr Area_x,BsmtFin SF 1_x,...,Wood Deck SF_y,Open Porch SF_y,Enclosed Porch_y,3Ssn Porch_y,Screen Porch_y,Pool Area_y,Misc Val_y,Mo Sold_y,Yr Sold_y,Total Bsmt SF_y
0,109,533352170,68.0,13517,6,8,1976,2005,289.0,533.0,...,0,44,0,0,0,0,0,3,2010,725.0
1,544,531379050,43.0,11492,7,5,1996,1997,132.0,637.0,...,0,74,0,0,0,0,0,4,2009,913.0
2,153,535304180,68.0,7922,5,7,1953,2007,0.0,731.0,...,0,52,0,0,0,0,0,1,2010,1057.0
3,318,916386060,73.0,9802,5,5,2006,2007,0.0,0.0,...,100,0,0,0,0,0,0,4,2010,384.0
4,255,906425045,82.0,14235,6,8,1900,1993,0.0,0.0,...,0,59,0,0,0,0,0,3,2010,676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,79.0,11449,8,5,2007,2007,0.0,1011.0,...,0,276,0,0,0,0,0,1,2008,1884.0
2047,785,905377130,68.0,12342,4,5,1940,1950,0.0,262.0,...,158,0,0,0,0,0,0,3,2009,861.0
2048,916,909253010,57.0,7558,6,6,1928,1950,0.0,0.0,...,0,0,0,0,0,0,0,3,2009,896.0
2049,639,535179160,80.0,10400,4,5,1956,1956,0.0,155.0,...,0,189,140,0,0,0,0,11,2009,1200.0
2050,10,527162130,60.0,7500,7,5,1999,1999,0.0,0.0,...,140,60,0,0,0,0,0,6,2010,994.0

In [41]:
comb_ames = pd.merge(left = comb_ames, right = ames['SalePrice'], left_index = True, right_index = True)

In [42]:
comb_ames

,Id,PID,Lot Frontage_x,Lot Area_x,Overall Qual_x,Overall Cond_x,Year Built_x,Year Remod/Add_x,Mas Vnr Area_x,BsmtFin SF 1_x,...,Open Porch SF_y,Enclosed Porch_y,3Ssn Porch_y,Screen Porch_y,Pool Area_y,Misc Val_y,Mo Sold_y,Yr Sold_y,Total Bsmt SF_y,SalePrice_y
0,109,533352170,68.0,13517,6,8,1976,2005,289.0,533.0,...,44,0,0,0,0,0,3,2010,725.0,130500
1,544,531379050,43.0,11492,7,5,1996,1997,132.0,637.0,...,74,0,0,0,0,0,4,2009,913.0,220000
2,153,535304180,68.0,7922,5,7,1953,2007,0.0,731.0,...,52,0,0,0,0,0,1,2010,1057.0,109000
3,318,916386060,73.0,9802,5,5,2006,2007,0.0,0.0,...,0,0,0,0,0,0,4,2010,384.0,174000
4,255,906425045,82.0,14235,6,8,1900,1993,0.0,0.0,...,59,0,0,0,0,0,3,2010,676.0,138500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,79.0,11449,8,5,2007,2007,0.0,1011.0,...,276,0,0,0,0,0,1,2008,1884.0,298751
2047,785,905377130,68.0,12342,4,5,1940,1950,0.0,262.0,...,0,0,0,0,0,0,3,2009,861.0,82500
2048,916,909253010,57.0,7558,6,6,1928,1950,0.0,0.0,...,0,0,0,0,0,0,3,2009,896.0,177000
2049,639,535179160,80.0,10400,4,5,1956,1956,0.0,155.0,...,189,140,0,0,0,0,11,2009,1200.0,144000
2050,10,527162130,60.0,7500,7,5,1999,1999,0.0,0.0,...,60,0,0,0,0,0,6,2010,994.0,189000

In [43]:
comb_ames.drop(columns = ['SalePrice_x'], inplace = True)

In [44]:
comb_ames.drop(columns =['PID','Id'], inplace = True)

In [46]:
X= comb_ames.drop(columns = ['SalePrice_y'])
y = comb_ames['SalePrice_y']

X_train,X_test,y_train, y_test = train_test_split(X, y, random_state = 4, test_size = .1, train_size = .9 )

In [47]:
X.columns

Index(['Lot Frontage_x', 'Lot Area_x', 'Overall Qual_x', 'Overall Cond_x',
       'Year Built_x', 'Year Remod/Add_x', 'Mas Vnr Area_x', 'BsmtFin SF 1_x',
       'BsmtFin SF 2_x', 'Bsmt Unf SF_x',
       ...
       'Wood Deck SF_y', 'Open Porch SF_y', 'Enclosed Porch_y', '3Ssn Porch_y',
       'Screen Porch_y', 'Pool Area_y', 'Misc Val_y', 'Mo Sold_y', 'Yr Sold_y',
       'Total Bsmt SF_y'],
      dtype='object', length=310)

In [48]:
X_train.shape

(1845, 310)

In [49]:
y_train.shape

(1845,)

In [51]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_train, y_train), lr.score(X_test, y_test) # the model is currently slightly overfit

(0.948361516487874, -11692.975525330612)

This model is currently slightly overfit, meaning we are fitting more to the data proved then the unseen data.

In [191]:
lr.coef_

array([-9.33496402e-01,  1.15079874e-05,  5.45152052e+01,  3.84697945e-01,
        2.87567237e+03,  2.79254872e+03,  1.89320246e+02,  2.51027311e+01,
        1.21231510e+01,  9.08502726e+00,  4.13109811e+00, -7.86621348e-01,
        1.24295126e+01,  9.12047803e+00,  1.08101716e+01, -5.41178962e+00,
        1.45189539e+01,  1.36661822e+03,  3.71770231e+02,  1.33855430e+03,
        9.18022282e+02, -1.80676442e+03, -6.42414983e+03,  8.33172330e+02,
        1.76970245e+03,  1.24670490e+01,  1.44007098e+03,  6.65997772e+00,
        4.62746318e+00,  5.36585406e+00,  6.72987908e+00,  6.91065762e+00,
        2.62661765e+01, -9.70888723e+01,  2.18251579e-01, -6.90227015e+01,
       -3.95867282e+02,  8.78145235e+03,  9.51243018e+03,  2.44637050e+04,
        2.11633946e+03, -8.47959530e+02,  4.74125614e+03, -6.23225834e+03,
       -1.54412731e+04, -1.83107535e+03, -6.44297782e+03, -2.61215579e+04,
       -7.74757417e+04, -2.77548687e+04, -2.42651791e+04, -9.26255010e+03,
        3.48242940e+04,  5.01333815e+04,  7.18488309e-08,  5.52881251e+04,
        4.69940641e+04,  3.96993892e+04,  1.02135315e+04, -6.35768263e+02,
       -4.81872334e+03,  4.12361151e+02, -8.82135472e+03,  8.88623098e+01,
        9.37829805e+03, -5.30862300e+03, -5.59957564e+02, -2.61934474e-10,
       -3.84388841e-08,  5.91233010e+03, -3.05349213e+03, -8.82236879e+03,
        9.16800620e+02,  6.03928730e+02, -2.27091464e+04,  3.71350476e+03,
        9.71853324e+03, -8.33182637e+03, -1.31415330e+04, -1.43362964e+04,
       -2.93652519e+03, -2.18509845e+04, -1.33899202e+04,  3.64286081e+03,
        9.68451453e+04, -1.32036548e+04, -2.02510957e+04, -9.29912837e+03,
       -1.58635330e+04, -1.41641299e+04,  9.18458186e+03, -1.70146731e+04,
        1.62138757e+04,  1.13882341e+04, -1.51909704e+04, -2.00642909e+04,
       -1.23457204e+04, -1.47548741e+04,  1.38431951e+03,  3.10965682e+04,
       -1.72611742e+04, -7.25701675e+03,  8.36645106e+03,  1.46827518e+04,
        2.06190434e+04,  2.30964775e+04,  2.79688873e+03,  8.40374189e+03,
        6.54823058e+03,  6.87828812e+02,  3.13901007e+03,  7.70644977e+03,
        2.11116691e+04, -1.66149010e+04,  1.62981451e-09, -1.15601306e+03,
        1.24877460e+04,  1.00053970e+03, -6.44297782e+03,  4.60911659e+03,
        8.39263237e+03, -1.49859251e+04, -2.25804678e+02, -1.41521524e+04,
        5.39155215e+03, -9.08302489e+02, -8.89567321e+02,  1.32547976e+04,
       -4.23483111e+03, -1.04034528e+04, -3.78983159e+03, -3.62228890e+04,
        6.78971254e+03,  7.41634057e+05,  7.82539283e+05,  7.32155507e+05,
        7.55822502e+05,  7.64809120e+05, -2.51733514e+04, -3.74097238e+04,
        9.40098337e+03,  2.12884160e+04,  9.94258673e+03, -9.01840694e+03,
       -4.23686057e+03, -3.39053663e+03, -6.48434691e+03, -2.01140647e+04,
       -8.13908566e+03, -1.62206677e+04, -8.47376871e+03, -6.60813978e+03,
        3.16383704e+04,  7.10578132e+03, -8.33604638e+02, -2.32182983e+04,
       -7.94535529e+03,  4.87309123e+03, -3.73200458e+03,  4.48557267e+03,
        3.57622605e+03, -3.13247636e+03,  8.10469597e+03,  1.61960917e+04,
        7.52107193e+03,  6.78675797e+03,  1.40982177e+04,  1.85677146e+04,
        1.79059035e+04,  2.21557206e+04, -2.96643899e+04, -3.09064869e+04,
       -3.40049455e+04, -1.80981647e+03, -5.83384008e+03, -3.00884506e+03,
       -4.22908763e+03,  2.42862173e+02,  4.51866713e+03, -7.31298721e+03,
        2.60950031e+03,  1.15990541e+04, -9.20831259e+03, -1.57123000e+04,
        3.24385891e+03, -7.61984327e+03, -1.27036519e+04,  1.02816185e+04,
        1.03463496e+04,  3.24385891e+03,  2.05445617e+04,  1.05854391e+04,
        1.09815149e+04, -5.08123313e+03, -3.49081495e+03,  3.24385891e+03,
        1.48094023e+03,  4.85103069e+03, -2.55561884e+03,  3.24385891e+03,
       -2.14104377e+01,  4.46329108e+03, -5.73326253e+03,  1.58950777e+04,
       -6.40470216e+03,  3.24385891e+03, -5.25234048e+03, -3.57067317e+03,
       -2.18376267e+03, -2.21751473e+04, -2.20079578e+04,  7.80751770e+03,
       -1.33451605e+03, -1.59676668e+03, -1.59167421e+04, -4.08063880e+03,
       -3.51639202e+03,  1.36098036e+02,  2.10268727e+03, -8.37209738e+01,
       -8.77541321e+02, -2.16651135e+04, -1.84967387e+04, -1.80034671e+04,
        2.25825504e+04,  2.39444694e+04,  2.39220726e+04,  1.10023535e+04,
        1.35042571e+04, -1.07471541e+04,  3.21558368e+04, -7.59842383e+03,
       -2.74211318e+03, -2.07026376e+03, -6.91958649e+03, -2.91851288e+03,
        1.02118934e+04,  1.19124718e+04,  1.34175757e+04,  5.95484932e+03,
        1.20948054e+04,  9.61241892e+03,  9.61241892e+03, -2.70339981e+03,
        7.18850025e+02, -1.54779718e+05, -1.25894676e+05,  9.61241892e+03,
       -1.80103007e+05, -1.53968941e+05,  1.44877895e+05,  1.46711619e+05,
        9.61241892e+03,  1.49471176e+05,  1.48444943e+05, -1.91805208e+02,
        4.11529421e+03,  8.20289884e+04,  8.59785179e+04, -7.40261401e+04,
       -2.98759112e+03,  2.93177870e+03,  1.98340372e+03, -5.57453546e+03,
        1.55963984e+03,  5.75341087e+05,  5.70877685e+05,  5.97805231e+05,
        5.72487584e+05,  4.89187931e+05,  1.67048903e+04,  4.21904835e+04,
        1.37721397e+04,  3.55949264e+02,  1.98930716e+04,  1.98166034e+04,
        2.06906104e+04,  6.73048667e+03,  5.45148791e+01,  3.84754997e-01,
        2.87567235e+03,  2.79254870e+03,  1.89320257e+02,  2.51027243e+01,
        1.21231358e+01,  9.08502236e+00, -7.86563329e-01,  4.13110482e+00,
        9.12050621e+00,  1.08102559e+01, -5.41178414e+00,  1.45189516e+01,
        1.36661820e+03,  3.71770038e+02,  1.33855424e+03,  9.18022214e+02,
       -1.80676443e+03, -6.42414983e+03,  8.33172365e+02,  1.76970244e+03,
        1.44007096e+03,  6.65996414e+00,  4.62733634e+00,  5.36586871e+00,
        6.72988684e+00,  6.91068000e+00,  2.62661583e+01, -9.70888857e+01,
        2.18234280e-01, -6.90227063e+01, -3.95867285e+02,  1.24294984e+01])

### Model 3 - Lasso

For this step, we will use a regularizer

In [ ]:
ss = StandardScaler()
Xss_train = ss.fit_transform(X_train)
Xss_test = ss.transform(X_test)

In [ ]:
# 100 different alphas between -3, 0
lass_alpha = np.logspace(-3,10,5000)

# the algorithm continually  adjust all our weights and 
# sometimes the default value from acceleration isn't enough for all those weights to converge.
lasso_cv= LassoCV(alphas= lass_alpha, cv = 5, max_iter = 50000)

# Fit model using best ridge alpha! 
lasso_cv.fit(Xss_train, y_train);

# best alpha
lasso_cv.alpha_

In [ ]:
print('Training score:', lasso_cv.score(Xss_train, y_train)) 
print('Test score:', lasso_cv.score(Xss_test, y_test))

lasso_cv.coef_  # sets most features to 0, good for feature selection

In [ ]:
lasso_feat= list(zip(X_train.columns, lasso_cv.coef_))
lasso_feat

In [ ]:
new_feat =[]
for x in lasso_feat:
    if abs(x[1])>0:
        new_feat.append(x[0])

In [ ]:
# new features selected 
new_feat

In [ ]:
sorted(comb_ames.columns)

In [ ]:
X = comb_ames[new_feat]
y = comb_ames['SalePrice_y']

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state = 40, test_size = .1, train_size = .9)
ss = StandardScaler()
Xstrain = ss.fit_transform(Xtrain)
Xstest = ss.transform(Xtest)

#Linear Regression with the selected features
lr = LinearRegression()
lr.fit(Xstrain, ytrain)

lr.score(Xstrain,ytrain), lr.score(Xstest,ytest)

In [ ]:
Xtrain
cross_val_score(lr, Xstrain, ytrain, cv = 5).mean()

In [ ]:
cross_val_score(lr, Xstest, ytest, cv = 5).mean()

In [ ]:
list(zip(X.columns, lr.coef_))